<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pi_daca">

    <uses-permission android:name="android.permission.INTERNET " />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PI_DACA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PI_DACA">
        <activity
            android:name=".activitys.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.FormActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.FaqActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.BottomNavigationActivity"
            android:exported="true"
            android:label="ProReport">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>